doctype transitional
<!--[if lt IE 9]> <html class="ie8 old-ie" lang="en"> <![endif]-->
<!--[if gte IE 9]><!-->
html(lang="en")
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    title Map | Not Today Coalition
    meta(http-equiv="X-UA-Compatible", content="chrome=1")
    link(href='/static/stylesheets/education-center-map.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700', rel='stylesheet', type='text/css')

  // NOTES:
  // doctype was set as transitional instead of html5 per the Not Today Coalition website https://nottodaycoalition.org/
  // The inline styles for the <body> tag are only here for preview purposes. Do not add them to the current site.
  body(style="min-width: 1000px; padding: 1em;")
    block content
